apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "gha-s3-pg-helper.fullname" . }}
  labels:
    {{- include "gha-s3-pg-helper.labels" . | nindent 4 }}
stringData:
  {{ toYaml .Values.secret.data | nindent 2 }}
