# Copyright (c) 2023 MobileCoin Inc.
name: build-and-publish-docker

on:
  push:
    tags:
    - 'v*.*.*'
  pull_request: {}

env:
  DOCKER_ORG: mobilecoin

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
        - gha-s3-pg-helper
        - gha-azure-helper
    steps:
    - name: Checkout
      uses: mobilecoinofficial/gh-actions/checkout@v0

    - name: Docker
      uses: mobilecoinofficial/gh-actions/docker@v0
      with:
        dockerfile: ${{ matrix.image }}/Dockerfile
        flavor: latest=true
        images: ${{ env.DOCKER_ORG }}/${{ matrix.image }}
        push: ${{ github.event_name == 'pull_request' && 'false' || 'true' }}
        tags: |
          type=ref,event=pr,priority=30
          type=semver,pattern=v{{major}},priority=22
          type=semver,pattern=v{{major}}.{{minor}},priority=21
          type=semver,pattern=v{{version}},priority=20
          type=sha,priority=10
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}


