# Copyright (c) 2023 MobileCoin Inc.
name: checks

on:
  pull_request: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  pull-requests: write
  contents: read

jobs:
  lint-docker:
    runs-on: ubuntu-latest
    steps:
    - name: Lint Dockerfiles with Hadolint
      uses: mobilecoinofficial/gh-actions/lint-docker@v0

  lint-shell:
    runs-on: ubuntu-latest
    steps:
    - name: Lint shell with Shellcheck
      uses: mobilecoinofficial/gh-actions/lint-shell@v0

  lint-actions:
    runs-on: ubuntu-latest
    steps:
    - name: Lint GitHub Actions
      uses: mobilecoinofficial/gh-actions/lint-actions@v0

  lint-helm:
    runs-on: ubuntu-latest
    steps:
    - name: Lint Helm Charts
      uses: mobilecoinofficial/gh-actions/lint-helm@v0

  workflow-ok:
    needs:
    - lint-docker
    - lint-shell
    - lint-actions
    - lint-helm
    runs-on: ubuntu-latest
    steps:
    - name: All Checks OK!
      run: |
        true
