# Copyright (c) 2023 MobileCoin Inc.
name: release

on:
  push:
    tags:
    - 'v*.*.*'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Create a GitHub Release
      uses: mobilecoinofficial/gh-actions/gh-release@v0
      with:
        generate_release_notes: true
