# Copyright (c) 2023 MobileCoin Inc.
name: tag

on:
  push:
    branches:
    - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
    - name: tag
      uses: mobilecoinofficial/gh-actions/tag@v0
      with:
        github_token: ${{ secrets.ACTIONS_TOKEN }}
